.projects {
    height: 100vh;
    background: url("/home/bg2.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    
    display: flex;
    justify-content: space-between;
    
    @keyframes animate {
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-20px,-20px);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(20px,20px);
        }
    }

    .arrow{
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        padding: 0px 50px;
        @media screen and (max-width: 900px) {
            padding: 0px 30px;
        }
        height: 100px;

        button {
            // background-color: red;
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;

            position: absolute;
            height: 100%;
            padding: 20px 20px;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        span {
            cursor: pointer;
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 5px solid white;
            border-right: 5px solid white;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;
        }

        span:nth-child(2){
            animation-delay: -0.2s;
        }

        span:nth-child(3){
            animation-delay: -0.4s;
        }
    }
    
    .a-left {
        transform: rotate(90deg);
    }

    .a-right {
        transform: rotate(-90deg);
    }


    .project-container {
        @media screen and (max-width: 900px) {
            .thumbnail {
                display: none;
            }
        }

        position: relative;
        width: 75vw;
        height: 75vh;
        top: 15%;
        // transform: translateY(15%);

        $border: 5px;
        background: linear-gradient(
            to right bottom,
            rgba(86, 5, 157, 0.7),
            rgba(37, 37, 37, 0.3)
        );
        border-radius: 2rem;
        box-shadow: 2px 2px 10px black;

        display: flex;

        // @media only screen and (max-width) {
            
        // }

        .project-info {
            // background-color: red;
            padding: 50px 50px;
            flex-grow: 1;
            h1 {
                font-weight: bold;
                font-size: calc(min(max(10px, 3vw), 40px));
                // font-size: 50px;
                color: #FCA326;
            }
        
            h2 {
                padding: 20px 0px;
                font-weight: bold;
                font-size: calc(min(max(10px, 2.5vw), 20px));
                // font-size: 30px;
            }
        
            h3, li {
                color: white;
                // max-width: 30%;
                font-size: calc(min(max(10px, 1.5vw), 20px));
                // font-size: 20px;
                text-align: justify;
                text-justify: inter-word;
            }
        
            .icon {
                padding-top: 30px;
                padding-left: 30px;
                display: flex;
                justify-content: space-between;
                width: 50%;
                flex: 1;
                @media screen and (max-width: 900px) {
                  transform: scale(0.6);
                  column-gap: 20px;
                }
                svg {
                    transform: scale(3);
                    color: white;
                }
        
                img {
                    transform: scale(0.75) translateY(-50%);
                }
            }
        }

        .thumbnail {
            width: 50%;
            padding: 0px 50px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }



}
