.blog-body {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
    margin: auto;
    // padding: auto;
    // border-radius: 1rem;
}

h1 {
    text-align: center;
}

.blog {
    padding: 20px 20px;
    .blog-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 50px;
        .article {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 350px;
            width: 200px;
            background: #17141d;
            box-shadow: -1rem 0 3rem #000;
            min-width: 250px;
            padding: 1.5rem;
            border-radius: 16px;
            transition: .2s;
            scroll-snap-align: start;
            clear: both;
            position: relative;
    
            img {
                padding: 15px;
            }
    
            flex-grow: 1;
            padding: 25px;
        
            h2 {
                margin: 0px 0px;
                padding-bottom: 20px;
                font-weight: bolder;
            }

            p {
                padding: 15px 0px;
                color: white;
                font-size: 20px;
            }
        }

        .article:hover {
            
            h2 {
                // background: linear-gradient(90deg,#ff8a00,#e52e71);
                background: linear-gradient(90deg,#e52e71, #55049C);
                text-shadow: none;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }
}